<!--Motor controller launch file (motor_controller.launch)
Description:  Launches all nodes required for the functionality of the drive chain.  After launch the robot 
should be able to accept a cmd_vel message and carry it out automatically.
-->

<launch>

	<!-- Launch the serial node to communicate with the arduino -->
	<node name="serial_node" pkg="rosserial_python" type="serial_node.py">
		<!-- Specify USB port connected to arduino -->
		<param name="port" value="/dev/ttyUSB0" type="str" />
	</node>


	
	<!-- Launch the motor controller node -->
	<node name="mot_con_node" pkg="gen2_motor_driver" type="mot_con_node"> 
		<!-- PID values for right motor -->
		<param name="right_p" value="4.0" type="double" />
		<param name="right_i" value="0.05" type="double" />
		<param name="right_d" value="0.0" type="double" />

		<!-- PID values for left motor -->
		<param name="left_p" value="4.0" type="double" />
		<param name="left_i" value="0.05" type="double" />
		<param name="left_d" value="0.0" type="double" />	

		<!-- Set wheel circumference -->
		<param name ="r_circum" value="45.856" type="double" />
		<param name ="l_circum" value="46.36" type="double" />

		<!-- Set distance between wheels -->
		<param name ="wheel_base" value="36.25" type="double" />
	</node>
</launch>
